{{extend './layout/layout' }}
{{block 'content'}}

<div>
    <div data-role="header" class="header linear-g">
        <a href="#panel-left" data-iconpos="notext" class="glyphicon glyphicon-th-large col-xs-2 text-right"> </a>
        <a class="text-center col-xs-8">developer.cn.com</a>
        <a href="#panel-right" data-iconpos="notext" class="glyphicon glyphicon-user col-xs-2 text-left"> </a>
    </div>
    <div data-role="panel" data-position="left" data-display="push" class="list-group shortcut_menu dn linear-g" id="panel-left">
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-home"> </span> &nbsp;菜单1</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-edit"> </span> &nbsp;菜单2</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-list"> </span> &nbsp;菜单3</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-list-alt"> </span> &nbsp;菜单4</a>
    </div>
    <div data-role="panel" data-position="right" data-display="push" class="user_box text-center dn linear-g" id="panel-right">
        <div class="u_info">
            <img class="avatar" src="images/avatar.png" alt="头像">
            <span class="username">developer</span>
        </div>
        <ul class="user_menu">
            <li class="menu"><a href="#"><span class="glyphicon glyphicon-cog"> </span> &nbsp;基本设置</a></li>
            <li class="menu"><a href="#"><span class="glyphicon glyphicon-lock"> </span> &nbsp;修改密码</a></li>
            <li class="menu"><a href="#"><span class="glyphicon glyphicon-picture"> </span> &nbsp;上传头像</a></li>
            <li class="menu"><a href="#"><span class="glyphicon glyphicon-off"> </span> &nbsp;安全退出</a></li>
        </ul>
    </div>
    <div data-role="content" class="container" role="main">
        <ul class="content-reply-box mg10">
            <li class="odd">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">奔波儿灞</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：00</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        为什么小鑫的名字里有三个金呢？
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：10</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        他命里缺金，所以取名叫鑫，有些人命里缺水，就取名叫淼，还有些人命里缺木就叫森。
                    </div>
                </div>
            </li>
            <li class="odd">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">奔波儿灞</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：20</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        那郭晶晶命里缺什么？
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li><li class="even">
            <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
            <div class="reply-content-box">
                <span class="reply-time">03-08 15：30</span>
                <div class="reply-content pr">
                    <span class="arrow">&nbsp;</span>
                    此处省略一百字...
                </div>
            </div>
        </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>
            <li class="even">
                <a class="user" href="#"><img class="img-responsive avatar_" src="images/avatar-1.png" alt=""><span class="user-name">灞波儿奔</span></a>
                <div class="reply-content-box">
                    <span class="reply-time">03-08 15：30</span>
                    <div class="reply-content pr">
                        <span class="arrow">&nbsp;</span>
                        此处省略一百字...
                    </div>
                </div>
            </li>

        </ul>
        <ul class="operating row text-center linear-g">
            <li class="col-xs-4"><a href="#"><span class="glyphicon glyphicon-tags"></span> &nbsp;标签</a></li>
            <li class="col-xs-4"><a href="#"><span class="glyphicon glyphicon-comment"></span> &nbsp;回复</a></li>
            <li class="col-xs-4"><a href="#"><span class="glyphicon glyphicon-heart"></span> &nbsp;喜欢</a></li>
        </ul>
    </div>
</div>


{{/block}}

{{block 'script' }}

    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000');
        socket.on('hello', function (data) {
            console.log(data);
        });
    </script>
{{/block}}

